<div class="panel" style="margin: 20px">
    <div class="heading">
        <i class="icon mif-users"></i>
        <span class="title">ผู้ใช้งานระบบ</span>
    </div>
    <div class="content" style="padding: 20px">
        <form method="post">
            <div class="grid">
                <div class="row cells1">
                    <div class="cell">
                        <label class="switch-original">
                            <input type="checkbox" name="level" value="admin" <%= checked %>/>
                            <span class="check"></span>
                            </label>
                        <label>เป็นระดับ Admin</label>
                    </div>
                </div>
                <div class="row cells4">
                    <div class="cell">
                        <label>ชื่อ</label>
                        <div class="input-control full-size">
                            <input type="text" name="name" value="<%= user.name %>" />
                        </div>
                    </div>

                    <div class="cell">
                        <label>Username</label>
                        <div class="input-control full-size">
                            <input type="text" name="usr" value="<%= user.usr %>" />
                        </div>
                    </div>

                    <div class="cell">
                        <label>Password</label>
                        <div class="input-control full-size">
                            <input type="password" name="pwd" value="<%= user.pwd %>" />
                        </div>
                    </div>

                    <div class="cell">
                        <label>ยืนยัน Password</label>
                        <div class="input-control full-size">
                            <input type="password" name="confirm_pwd" value="<%= user.pwd %>" />
                        </div>
                    </div>
                </div>
                <div class="row cells1">
                    <div class="cell align-center">
                        <button class="button large-button bg-green fg-white">
                            <i class="mif-checkmark"></i>
                            บันทึก
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>